services:
  server:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "7000:7000"
    env_file:
      - server/.env
    networks:
      - app-network

  client:
    build:
      context: .
      dockerfile: client/Dockerfile.dev
      args:
        NEXT_PUBLIC_API_URL: http://localhost:7000/api
    ports:
      - "3001:3000"
    volumes:
      - ./client:/app/client
      - /app/client/node_modules
    working_dir: /app/client
    command: yarn dev
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:7000/api
      NODE_ENV: development

    depends_on:
      - server
    networks:
      - app-network

  mongo:
    image: mongo:6
    container_name: recipe-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongo-data:
